<?php

return PhpCsFixer\Config::create()
    ->setRiskyAllowed(true)
    ->setRules([
        '@Symfony' => true,
        'concat_space' => false,
        'phpdoc_order' => true,
        'phpdoc_separation' => true,
        'no_superfluous_phpdoc_tags' => false,
        'cast_spaces' => true,
        'yoda_style' => false,
        'phpdoc_types_order' => [
            'null_adjustment' => 'always_last',
        ],
    ])
    ->setFinder(
        PhpCsFixer\Finder::create()
            ->exclude('tests/Fixtures')
            ->in(__DIR__)
    );
